<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.jai.LiveHere"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_copy"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="ca.jai.LiveHere.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ca.jai.LiveHere.Stat"
            android:label="@string/title_activity_stat" >
        </activity>
        <activity
            android:name="ca.jai.LiveHere.ChooseLocation"
            android:label="@string/title_activity_choose_location" >
        </activity>
        <activity
            android:name="ca.jai.LiveHere.City"
            android:label="@string/title_activity_city" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
